{
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals" : {
    "chai"       : false,
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false,
    "inject"     : false,
    "angular"    : false
  },
  "parser": "babel-eslint",
  "plugins": ["angular"],
  "extends": ["eslint:recommended", "angular"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "angular/log": "off",
    "angular/window-service": "off"
  }
}