nav.navbar-default
    .container
        .navbar-header
            a.navbar-brand(ui-sref="home")="Angular App"
        .collapse.navbar-collapse
            ul.navbar-nav.nav
                li(ui-sref-active='active')
                  a(ui-sref='home') Home
                li(ui-sref-active='active', is-authorized, is-authenticated="true", is-in-any-role="['ADMIN']")
                  a(ui-sref='about') About
                li.dropdown.navbar-dropdown(uib-dropdown, ng-class="{active: $ctrl.$state.includes('style-guide')}")
                  a.dropdown-toggle(href='#', uib-dropdown-toggle, is-open='status.isopen')
                    | StyleGuide
                    span.caret
                  ul.dropdown-menu(uib-dropdown-menu)
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.counter') Counter
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.drop-down') Dropdown
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.date-picker') Datepicker
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.tabs') Tabs
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.bindings') Bindings
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.lazy-load-counter') Lazy Load Counter
                    li(ui-sref-active='active')
                      a(ui-sref='style-guide.sharing-data') Sharing data
                li(ui-sref-active='active')
                  a(ui-sref='blog.list') Blog
            .navbar-right
              auth-drop-down