.input-group
  input.form-control(type="text" ng-model="$ctrl.dt" is-open="$ctrl.opened" uib-datepicker-popup)
  span.input-group-btn
    button.btn.btn-default(ng-click="$ctrl.open()")
      i.glyphicon.glyphicon-calendar