.bindings__child
  p
    strong="child: "
    button.btn.btn-default.btn-xs(ng-click="$ctrl.increment()")="increase"
    button.btn.btn-default.btn-xs(ng-click="$ctrl.togglePrimitive()")="toggle primitive"
    button.btn.btn-default.btn-xs(ng-click="$ctrl.sendDataBack()")="update parent"
  p
    code="counter: {{$ctrl.obj}}"
    code="primitive: {{$ctrl.primitive}}"