p(ng-if="!$ctrl.isLoaded")="loading..."

div(ng-if="$ctrl.isLoaded")
  blog-list-pagination(
    disabled="$ctrl.disabled"
    page-data="$ctrl.blogData"
    on-page-change="$ctrl.fetchBlogs($event)")