{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test:coverage": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/index.js",
              "**/*.spec.js",
              "**/*.module.js",
              "**/*lazy-load-export.js",
              "**/app.config.js",
              "**/*lazy-load.js",
              "**/app.routes.controller.js",
              "**/*routes.js"
            ]
          }
        ]
      ]
    }
  }
}