{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test:coverage": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*.spec.js",
              "**/*.module.js",
              "**/index.js",
              "**/*routes.js"
            ]
          }
        ]
      ]
    }
  }
}