header-component

nav
    ul
        li
            a(ui-sref='home') Home
        li
            a(ui-sref='styleguide') Bootstrap components

main(class="base-screen", ng-transclude)
    ='inherited content'

footer
    | footer
