nav.navbar.navbar-default
    div.container
        ul.navbar-nav.nav
            li(ui-sref-active='active')
                a(ui-sref='home') Home
            li(ui-sref-active='active')
                a(ui-sref='about') About
            li(ui-sref-active='active')
                a(ui-sref='styleguide') Bootstrap components