nav.navbar.navbar-default
    .container
        .navbar-header
            button.navbar-toggle.collapsed(ng-click="$ctrl.toggleMenu()")
                span.sr-only="Toggle navigation"
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref="home")="Angular App"
        .collapse.navbar-collapse(ng-class="{collapse: !$ctrl.opened}")
            ul.navbar-nav.nav
                li(ui-sref-active='active')
                    a(ui-sref='home') Home
                li(ui-sref-active='active')
                    a(ui-sref='about') About
                li(ui-sref-active='active')
                    a(ui-sref='styleguide') Bootstrap components